<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/custom.css" />
     <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Nucleo Icons -->
    <link href="/static/styles/nucleo-icons.css" rel="stylesheet" />
    <link href="/static/styles/nucleo-svg.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css"/>
        <!-- Bootstrap JS and Popper.js scripts (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      src="https://res.cdn.office.net/teams-js/2.9.1/js/MicrosoftTeams.min.js"
      integrity="sha384-xnsUQ1tUqsrutBJl0vuf4/hufzLFWW8ZhGnhItfpQ0/BtWgM2uw6YT6BQ5YaKBSM"
      crossorigin="anonymous"
    ></script>
    <script src="/static/scripts/teamsapp.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>
    <script>
      /*Start of left navigation*/
      /* Set the width of the side navigation to 250px */
      /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
      /*End of left navigation*/
      $(document).on({
        ajaxStart: function(){
          $("body").addClass("loading"); 
        },
        ajaxStop: function(){ 
          $("body").removeClass("loading"); 
        }    
      });

      function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }

      function onReady(callback) {
        var intervalId = window.setInterval(function() {
        if (document.getElementsByTagName('body')[0] !== undefined) {
          window.clearInterval(intervalId);
          callback.call(this);
        }
        }, 1000);
      }

      function setVisible(selector, visible) {
        document.querySelector(selector).style.display = visible ? 'block' : 'none';
      }

      onReady(function() {
        setVisible('.page', true);
        setVisible('#loading', false);
      });

      window.onload = fetchConfig;

      $( document ).ready(function() { 
        getItems();
        
        $('#PendingTasks').DataTable({
          "columns": [
          { "width": "20%" },
          { "width": "20%" },
          { "width": "10%" },
          { "width": "15%" },
          { "width": "30%" }
          ]
        });   
        $('#MyRequests').DataTable({
          "columns": [
          { "width": "20%" },
          { "width": "20%" },
          { "width": "10%" },
          { "width": "15%" },
          { "width": "30%" }
          ]
        });       
      });

      function fetchConfig() {
         return fetch('static/config/config.json')
      .then(response => response.json())
      .then(data => {
        clientID = data.clientID;
        clientSecret = data.clientSecret;
        NACURL = data.nacBaseURL;
        return { clientID, clientSecret, NACURL };
      })
      .catch(error => {
        console.error('Error fetching config:', error);
      });
    }
      
    function getItems() {
      var accesstoken;
      var clientID;
      var clientSecret;
      var nacURL;
      fetchConfig().then(config => {
        clientID = config.clientID;
        clientSecret = config.clientSecret;
        nacURL = config.NACURL;
        $.ajax({
          url: 'https://us.nintex.io/authentication/v1/token',
          crossDomain: true,
          async: false,
          method: 'post',
          contentType: 'application/json',
          data: JSON.stringify({
            'client_id': clientID,
            'client_secret': clientSecret,
            'grant_type': 'client_credentials'
          })
        }).done(function (response) {
          accesstoken = response.access_token;
          $.ajax({
            url: nacURL+'/workflows/v2/tasks',
            headers: {
              'Authorization': 'Bearer ' + accesstoken,
              'Content-Type': 'application/json'
            },
            data: {
              'assignee': "ranjit.ramachandran@nintex.com",
              'status': "active",
            },
            method: 'GET',
            dataType: 'json',
            success: function (data) {
              if (data.tasks.length > 0) {
                $("#pendingTask").text(data.tasks.length);
                data.tasks.forEach(element => {
                  var createdDate = new Date(element.createdDate);
                  var dueDate = new Date(element.dueDate);
                  var Difference_In_Time = new Date() - createdDate.getTime();
                  var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
                  var formattedDate = [dueDate.getMonth() + 1, dueDate.getDate(), dueDate.getFullYear()].join('/');
                  var instanceName = "";
                  if (element.taskAssignments.length > 0) {
                    element.taskAssignments.forEach(subelement => {
                      instanceName = "<a style='color:blue' target='_blank' href='" + subelement.urls['formUrl'] + "'>" + element.name + "</a>";
                    })
                  } else {
                    instanceName = "<a style='color:blue' target='_blank' href=''>" + element.name + "</a>";
                  }
                  var button = "";
                  if (element.outcomes.length > 0) {
                      element.outcomes.forEach(innerElement => {
                        var TaskURL = element.id;
                        var action = innerElement;
                        button = button + '<input class="customButton" id=' + TaskURL + '_' + action + ' type="button" value="' + innerElement + '" onClick="SubmitTask(this); return false;"> || </input> ';
                      });
                    }
                    button = button.substring(0, button.lastIndexOf('||'));
                    
                  $('#PendingTasks').DataTable().row.add([element.workflowName, instanceName, formattedDate, Difference_In_Days.toString().split('.')[0] + " days", button]).draw(true);
                  
                });
              }
            }
          });
        });
      });
    }

      function SubmitTask(obj){
      var clientID;
      var clientSecret;
      var nacURL;
        fetchConfig().then(config => {
        clientID = config.clientID;
        clientSecret = config.clientSecret;
        nacURL = config.NACURL;
          var URL = nacURL+"/workflows/v2/tasks/"+obj.id.split('_')[0]+"/assignments/"+obj.id.split('_')[0];
          var action = obj.id.split('_')[1];
          var accesstoken;
            $.ajax({
            url: 'https://us.nintex.io/authentication/v1/token',
            crossDomain: true,
            async: false,
            method: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
              'client_id': clientID,
              'client_secret': clientSecret,
              'grant_type': 'client_credentials'
            })
          }).done(function(response) {
            accesstoken = response.access_token;
          });  
          $.ajax({
            url: URL,
            headers: {
              'Authorization':'Bearer '+accesstoken, 
              'Content-Type':'application/json'
            },
            data: JSON.stringify({
              outcome: action
            }),
            method: 'PATCH',
            dataType: 'json',
            success: function(data){		
              location.reload();
            },		
            error: function(e){
              console.log(e);
            },			
          });
        });
      }
      </script>
    <title>Microsoft Teams Tab</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <script type="text/javascript">
      microsoftTeams.appInitialization.notifySuccess();
    </script>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a target="_blank" href="#">Request for</a>
      <a target="_blank" href="https://npp-ranjit.workflowcloud.com/forms/03478dae-000e-4bb8-86d2-d79eb8287e77">1. NAC Demo</a>
      <a target="_blank" href="https://npp-ranjit.workflowcloud.com/forms/01c964da-3957-41df-a3f6-1a05e1fd1cb5">2. HR Demo</a>
      <a target="_blank" href="https://npp-ranjit.workflowcloud.com/forms/546ba251-cfc0-4934-9967-f714876ef12c">3. Contract Mgmt.</a>
      <a target="_blank" href="https://npp-ranjit.workflowcloud.com/forms/441f3de4-55b6-43e1-993e-a44192b1dcd7">4. Bunzl</a>
    </div>
<!-- Use any element to open the sidenav -->
    <span onclick="openNav()">Submit New Requests</span>
     <div id="main" class="container">
      <div class="row">
        <div class="col-12 col-md-6">
            <img src="https://www.nintex.com/wp-content/uploads/2018/07/nintex-logo-dark.png" alt="Company Logo" style="width: 20%; height: 20%;">
        </div>      
      </div>
        <table style='width:40%'>
          <tbody>
            <tr>           
              <td cellspacing="5" cellpadding="5" style='width:500px; height:150px; border:1px solid; 
              border-color:#d3d3d3; border-radius: 15px 15px 15px 15px;
              background-color:#1dace9; vertical-align: middle;padding-left: 5px; font-size: 20px;'>Pending Tasks &emsp;
                <b><span id="pendingTask" style='font-size:70px'></b></td>
              <td cellspacing="5" cellpadding="5" style='width:500px; height:150px; border:1px solid; 
              border-color:#d3d3d3; border-radius: 15px 15px 15px 15px;
              background-color:#dd1e3c;padding-left: 5px; vertical-align: middle;font-size: 20px;'>My Requests &emsp;
                  <b><span id="pendingTask" style='font-size:70px'>2</b></td>
            </tr>         
          </tbody>
        </table>
        <div class="row">
          <div class="col-12" >
            <div class="card mb-4" >
              <div class="card-header pb-0">
                <h5>Pending Tasks</h5>
              </div>
              <div class="card-body">
              <div class="table-responsive p-0" style="padding: 2px !important">
                <table id="PendingTasks" class="display" style="width:100%">
                  <thead>
                    <tr>
                      <th>Process Name</th>
                      <th>Task Name</th>
                      <th>Due Date</th>
                      <th>Pending for (days)</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>   
                </table>	
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header">
                <h5>My Requests</h5>
              </div>
              <div class="card-body">
                <div class="table-responsive p-0" style="padding: 2px !important">
                  <table id="MyRequests" class="display" style="width:100%">
            <thead>
              <tr>
                <th>Process Name</th>
                <th>Task Name</th>
                <th>Due Date</th>
                <th>Pending For in Days</th>
                <th>Status</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Employee Onboarding</td>
                <td>IT Approval</td>
                <td>30/04/2022</td>
                <td>2</td>
                <td>Pending Johns Approval</td>
                
              </tr>
              <tr>
                <td>Security Clearnace</td>
                <td>Approval from Immediate Manager</td>
                <td>30/04/2022</td>
                <td>4</td>
                <td>Pending Dianas Approval</td>              
              </tr>
            </tbody>          
          </table>	
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
